@import "tailwindcss";

.PanelFields input {
  background: #fff;
  height: 34px;
  border-color: #d3d1ce;
  /* margin-bottom: 0.5rem; */
}
.PanelFields input:focus-visible,
.PanelFields select:focus-visible {
  outline: #333;
}
.PanelFields select {
  background: #fff;
  height: 34px;
  border-color: #d3d1ce;
  /* margin-bottom: 0.5rem; */
  padding: 0 0.2rem;
}
.gridLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 10px;
}

.fieldLabel {
  /* font-size: 13px; */
  color: #333;
  font-weight: 600;
  font-family: "Assistant";
}

.PanelHeading {
  position: sticky;
  width: 100%;
  top: 0;
}

.required-label::after {
  content: " *";
  color: #da1d1d;
}

.elementToFadeInAndOut {
  -webkit-animation: fadeinout 2s linear forwards infinite;
  animation: fadeinout 2s linear forwards infinite;
  opacity: 0;
}

.elementToFadeInAndOut div {
  width: 6px;
  height: 6px;
  background: #fff;
  display: inline-block;
  margin-right: 2px;
  border-radius: 50%;
}

@-webkit-keyframes fadeinout {
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  50% {
    opacity: 1;
  }
}

@media all and (max-width: 768px) {
  .headerSearch {
    display: block;
  }
  .width100p {
    width: 100%;
  }
  .width60p {
    width: 60%;
  }
  .headerStyles {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
  }
}
